html {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.formList{
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0;
    font-size: 20px; 
}

.list{
    color: white;
}